@import '../components/button.scss';
@import '../components/tag.scss';


.typ-setting-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  margin-right: 0;

  &:not(:last-child:has(table)) {
    border-bottom: solid 1px var(--window-border-color);
  }

  @at-root .typ-setting-info {
    align-self: flex-start;
    flex: 1;

    @at-root .typ-setting-description {
      font-size: .75rem;
      color: var(--text-color);
      opacity: .6;
    }
  }

  @at-root .typ-setting-controls {
    &.prefix:not(:empty) {
      align-self: flex-start;
      padding-right: .5rem;
    }

    &.postfix {
      display: flex;

      &>* {
        margin-left: .5rem;
      }
    }
  }
}
