.typ-workspace-split {

  &,
  &>.typ-workspace-node {
    display: flex;
    flex: 1;
  }

  &>.typ-workspace-node {
    min-width: 0;
    min-height: 0;
  }

  &.mod-vertical {
    flex-direction: row;
  }

  &.mod-horizontal {
    flex-direction: column;
  }
}
