.typ-modal.typ-command-modal {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);

  padding: .2rem;
  width: 30rem;
}

.typ-command-modal__title {
  margin: 0 .3rem;
  font-weight: 600;
  text-align: center;
  font-size: .85rem;
  color: gray;
}

.typ-command-modal__form {
  display: flex;
  flex-direction: row;

  &>* {
    margin: .3rem;
  }

  & input {
    flex: 1;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: inset 1px 1px 1px 0px #eee;
    font-size: .875rem;

    &::placeholder {
      opacity: .5;
    }
  }
}

.typ-command-modal__prompt,
.typ-command-modal__results {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-bottom: .3rem;
  max-height: 30rem;
  overflow-y: auto;

  font-size: 13px;
  color: #666;
  text-wrap: nowrap;

  &>* {
    flex: 1;
  }
}

.typ-command-modal__prompt,
.typ-command-modal__item {
  padding: .2rem .6rem;
}

.typ-command-modal__item {
  &:hover,
  &.active {
    background: rgba(0, 0, 0, .03);
  }
}
