.typ-modal.typ-command-modal {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);

  padding: .2rem;
  width: 30rem;
}

%typ-command-modal__child {
  display: flex;
  flex-direction: column;
  width: 100%;

  &>* {
    flex: 1;
  }
}

.typ-command-modal__form {
  @extend %typ-command-modal__child;

  &>* {
    margin: .3rem;
  }

  & input {
    border: 1px solid #ddd;
    outline: none;
    box-shadow: inset 1px 1px 1px 0px #eee;
    font-size: .875rem;

    &::placeholder {
      opacity: .5;
    }
  }
}

.typ-command-modal__results {
  @extend %typ-command-modal__child;

  padding-bottom: .3rem;
  max-height: 30rem;
  overflow-y: auto;
}

.typ-command-modal__item {
  padding: .2rem .6rem;
  font-size: .875rem;
  color: #666;

  &:hover,
  &.active {
    background: rgba(0, 0, 0, .03);
  }
}
