.typ-markdown-preview {
  padding: 1rem 2rem 2rem;

  pre.md-meta-block {
    padding: 1rem;
    background-color: var(--rawblock-edit-panel-bd);
  }

  .md-p:empty:after {
    content: '\200B';
  }
}
