.typ-setting-item:has(>.typ-expandable-section) {
  flex-wrap: wrap;
  border-bottom: solid 1px rgb(var(--typ-border-color));
}

.typ-expandable-section {
  margin-top: .5rem;
  width: 100%;

  >.typ-expandable-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;

    &:not(.collapsed) {
      max-height: 16rem;
      border: solid 1px rgb(var(--typ-border-color));
      border-radius: .25rem;
      background-color: var(--rawblock-edit-panel-bd);

      >.typ-expandable-content {
        padding: .75rem 1rem;
        max-height: 16rem;
        overflow-y: auto;
      }
    }
  }
}
