.typ-modal.typ-settings-modal {
  width: 90vw;
  height: 85vh;
  font-size: .875rem;

  .typ-modal__body {
    display: flex;
    height: 100%;

    .typ-main {
      flex: 1;
      padding: 0 1rem;
      overflow: auto;
    }
  }
}

@import '_sidebar-nav';

.typ-sidebar {
  @include sidebar-container;

  border-right: 1px solid rgb(var(--typ-border-color));

  .typ-nav__item {
    @include nav-item;
  }
}
