.typ-audio-view {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-color);

  .typ-audio-view-audio {
    max-width: 90%;
    width: 100%;
  }
}
