.context-menu {
  width: unset;
  min-width: 224px;
}

.typ-menuitem {

  a::before {
    display: none;

    .ext-context-menu & {
      content: ' ';
      display: inline-block;
      width: .5rem;
    }
  }

  .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .8rem;
  }
}
