.context-menu {
  width: unset;
  min-width: 224px;
}

.typ-menuitem {
  a {
    margin-left: .5rem;

    &:has(.fa) {
      margin-left: -.15rem;
    }
  }

  .fa {
    position: relative;
    left: -.55rem;
  }
}
