@import '../global.scss';


.typ-notice__container {
  position: fixed;
  top: 2rem;
  right: .875rem;
  z-index: var(--typ-layer-notice);

  padding: .625rem;
  max-width: 20rem;
}

.typ-notice {
  margin-left: auto;
  margin-bottom: .875rem;
  padding: .5rem 1rem;
  width: fit-content;

  border-radius: .5rem;

  font-size: .9rem;
  background: var(--bg-color);
  @include shadow(0 .125rem .5rem rgb(var(--typ-shadow-color)));

  .typ-notice__close {
    display: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 1.4rem;
  }

  &:hover .typ-notice__close {
    display: block;
  }
}
