:root {
  --typ-tabs-height: 2rem;
}

.typ-tabs-wrapper {
  --typ-tab-border-color: rgba(0, 0, 0, 0.07);

  @media (prefers-color-scheme: dark) {
    --typ-tab-border-color: #555;
  }

  background: var(--bg-color);

  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 6px;
  }
}

%typ-tabs__child {
  display: inline-block;
  padding: 7px 6px 0 8px;
  height: 100%;
  border-bottom: 1px solid var(--typ-tab-border-color);
  color: #777;
  white-space: nowrap;
}

.typ-tabs {
  display: flex;
  padding: 0;
  min-width: 100%;
  height: var(--typ-tabs-height);

  &::after {
    @extend %typ-tabs__child;

    content: '';
    flex: 1;
  }
}

.typ-tab {
  @extend %typ-tabs__child;

  &.active {
    padding-top: 5px;
    border: 1px solid var(--typ-tab-border-color);
    border-bottom: 1px solid transparent;

    &:first-child {
      border-left: 1px solid transparent;
    }
  }

  .typ-close::before {
    font-size: 1.5rem;
  }

  &:only-child .typ-close {
    display: none;
  }
}
