:root {
  --typ-footer-height: 30px;
}

div.typ-workspace-root {
  position: absolute;
  top: 3.75rem;
  left: calc(var(--typ-ribbon-width) + var(--sidebar-width));
  z-index: -1;
  width: calc(100% - var(--typ-ribbon-width) - var(--sidebar-width));
  height: calc(100% - var(--typ-footer-height));
  background: radial-gradient(black, transparent);
}
