:root {
  --typ-footer-height: 30px;
}

div.typ-workspace-root {
  position: absolute;
  z-index: -1;
  top: var(--typ-workspace-top);
  bottom: var(--typ-footer-height);

  left: calc(var(--typ-ribbon-width));
  width: calc(100% - var(--typ-ribbon-width));

  .pin-outline & {
    left: calc(var(--typ-ribbon-width) + var(--sidebar-width));
    width: calc(100% - var(--typ-ribbon-width) - var(--sidebar-width));
  }
}
