:root {
  --typ-layer-editor: 800;
  --typ-layer-modal: 900;
  --typ-layer-notice: 1000;

  // color red from https://ant.design/docs/spec/colors
  --typ-color-red-1: 255, 204, 199;
  --typ-color-red-2: 255, 120, 117;
  --typ-color-red-3: 245, 34, 45;
  --typ-color-red-4: 168, 7, 26;
  --typ-color-red-5: 92, 0, 17;

  --typ-color-gray-1: 200, 200, 200;
  --typ-color-gray-2: 150, 150, 150;
  --typ-color-gray-3: 100, 100, 100;
  --typ-color-gray-4: 50, 50, 50;

  --typ-text-color: var(--typ-color-gray-4);

  --typ-light-bg-color: var(--typ-color-gray-1);

  --typ-shadow-color: var(--typ-color-gray-1);

  @media (prefers-color-scheme: dark) {
    --typ-text-color: var(--typ-color-gray-1);

    --typ-light-bg-color: var(--typ-color-gray-4);

    --typ-shadow-color: var(--typ-color-gray-4);
  }
}
