/*
 * override base-control.user.css
 *********************************************/

body.typ-tabs--enable {

  .md-notification-container,
  #zoom-hint,
  #md-searchpanel,
  #write {
    top: 32px;
  }

  .unibody-window {
    .md-notification-container {
      padding-top: 29px;
    }

    #zoom-hint,
    #md-searchpanel {
      top: 61px;
    }
  }
}

/*
 * Tabs
 *********************************************/

.typ-tabs-wrapper {
  --typ-tab-border-color: rgba(0, 0, 0, 0.07);

  @media (prefers-color-scheme: dark) {
    --typ-tab-border-color: #555;
  }

  position: fixed;
  top: 0;

  width: calc(100% - var(--typ-ribbon-width));
  overflow: hidden;

  background: var(--bg-color);

  .typora-node.megamenu-opened &,
  .typora-node.typora-sourceview-on &,
  .typora-node.show-preference-panel & {
    display: none;
  }

  .pin-outline & {
    width: calc(100% - var(--typ-ribbon-width) - var(--sidebar-width));
  }

  .unibody-window &,
  .html-for-mac & {
    margin-top: 28px;
  }
}

%typ-tabs__child {
  display: inline-block;
  padding: 7px 6px 0 8px;
  height: 100%;
  border-bottom: 1px solid var(--typ-tab-border-color);
  color: #777;
  white-space: nowrap;
}

.typ-tabs {
  display: flex;
  padding: 0;
  min-width: 100%;
  height: 32px;

  &::after {
    @extend %typ-tabs__child;

    content: '';
    flex: 1;
  }
}

.typ-tab {
  @extend %typ-tabs__child;
  position: relative;
  max-width: 15rem;
  padding-right: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    padding-top: 5px;
    padding-right: 6px;
    border: 1px solid var(--typ-tab-border-color);
    border-top: 3px solid var(--active-file-border-color);
    border-bottom: 1px solid transparent;

    &:first-child {
      border-left: 1px solid transparent;
    }

    .typ-close {
      display: none;
    }
  }

  .typ-close {
    position: absolute;
    right: 0.2rem;

    &::before {
      font-size: 1.5rem;
    }
  }
}
