body.typ-file-tabs--enable content {
  top: calc(var(--typ-workspace-top) + var(--typ-tabs-height));
}

content .typ-file-tabs {
  position: fixed;
  top: 0;

  .typora-node.megamenu-opened &,
  .typora-node.typora-sourceview-on &,
  .typora-node.show-preference-panel & {
    display: none;
  }

  width: calc(100% - var(--typ-ribbon-width));

  .pin-outline & {
    width: calc(100% - var(--typ-ribbon-width) - var(--sidebar-width));
  }

  .unibody-window & {
    margin-top: 28px;
  }

  .html-for-mac.mac-seamless-mode & {
    margin-top: 22px;
  }
}
