.typ-workspace-tabs {
  flex-direction: column;

  .typ-workspace-tab-header .typ-tab:only-child .typ-close {
    display: unset;
  }

  &>.typ-workspace-tab-content {
    display: flex;
    flex: 1;
    overflow: hidden;

    &>.typ-workspace-leaf {
      display: none;

      &.mod-active {
        display: flex;
        flex: 1;
        align-items: flex-start;
        overflow-y: auto;
      }
    }
  }
}
