.typ-global-search-progressbar {
  margin-top: 1px;
  height: 2px;
  width: 100%;
  overflow: hidden;

  &-inner {
    height: 100%;
    width: 50%;
    background-color: var(--primary-color, #09b);
    animation: typ-global-search-progressbar-indeterminate ease-in-out infinite 1.5s;
  }
}

@keyframes typ-global-search-progressbar-indeterminate {
  from { transform: translateX(-100%); }
  to   { transform: translateX(200%); }
}
